<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/img_home.png')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="presentation-subtitle">
                        <img   style="text-align: center; width: 80%; margin-top: 0px;margin-left: 20px;margin-right: 20px" src="assets/img/logo_noisetrap.png" alt="">
                    </div>
                    <div style="margin: 3%;">
                        <h2 class="presentation-title-medium text-center" >REPETITIONS & ENREGISTREMENTS</h2>
                    </div>

                </div>

                <h2 class="presentation-subtitle text-center" style="color: red; font-weight: 800">Horaires d'ouverture</h2>
                <h3 class="presentation-subtitle text-center">Du mardi au vendredi : 16H - 00H</h3>
                <h3 class="presentation-subtitle text-center">Le weekend : 16H - 00H</h3>
            </div>
        </div>

    </div>
    <div class="main">

        <!--REPETITIONS-->
        <div class="section section-dark" id="repetitions" >
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Répétitions</h2>
                        <p class="description">Réservez la salle de votre choix</p>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-12 ml-auto mr-auto">
                        <div class="card card-register" style="background-color: #0b1111;border: 3px solid #cc0001">
                            <h3 style="text-align: left; color: #cc0001; font-weight: 800; margin-top: 0px">GRACE</h3>
                            <br>
                            <p style="text-align: left; color: white; font-weight: 800;" >Surface : <span style="color: #cc0001">30 m²</span></p>
                            <p style="text-align: left; color: white; font-weight: 800;" >Equipement : </p>
                            <p style="text-align: left; color: white;" >Marshall DSL 100   |  Bugera
                                333XL   Ampeg BA115  |  Gretsch
                                Catalina</p>

                            <p style="text-align: left; color: white; font-weight: 800;" >Prestation : </p>
                            <p style="text-align: left; color: white; font-weight: 800;" >Répétition classique </p>
                            <br>
                            <br>
                            <br>
                            <img src="assets/img/360degresimage1.png" class="img-rounded img-responsive" alt="Rounded Image">
                            <a [routerLink]="['/signup']" class="btn btn-outline-neutral btn-round btn-lg">Réserver</a>
                            <a href="https://www.picktime.com/b1fc1068-5766-4067-9e89-313ded458ab9" class="ptbkbtn" target="_blank" style="float:none;"><img border="none" src="https://www.picktime.com/bookingPage/img/picktime-book-online.png" alt="Book an appointment with Noisetrap"/></a>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 ml-auto mr-auto">
                        <div class="card card-register" style="background-color: #0b1111;border: 3px solid white">
                            <h3 style="text-align: left; color: white; font-weight: 800; margin-top: 0px">JUDY</h3>
                            <br>
                            <p style="text-align: left; color: white; font-weight: 800;" >Surface : <span style="color: #cc0001">27 m²</span></p>
                            <p style="text-align: left; color: white; font-weight: 800;" >Equipement : </p>
                            <p style="text-align: left; color: white;" >Marshall DSL 100   |  Bugera
                                333XL   Ampeg BA115  |  Gretsch
                                Catalina</p>

                            <p style="text-align: left; color: white; font-weight: 800;" >Prestation : </p>
                            <p style="text-align: left; color: white; font-weight: 800;" >Répétition classique </p>
                            <p style="text-align: left; color: white; font-weight: 800;" >Répétition enregistrée </p>
                            <br>
                            <br>
                            <img src="assets/img/360degresimage2.png" class="img-rounded img-responsive" alt="Rounded Image">
                            <a [routerLink]="['/signup']" class="btn btn-outline-neutral btn-round btn-lg">Réserver</a>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 ml-auto mr-auto">
                        <div class="card card-register" style="background-color: #0b1111;border: 3px solid #cc0001">
                            <h3 style="text-align: left; color: #cc0001; font-weight: 800; margin-top: 0px">GINGER</h3>
                            <br>
                            <p style="text-align: left; color: white; font-weight: 800;" >Surface : <span style="color: #cc0001">30 m²</span></p>
                            <p style="text-align: left; color: white; font-weight: 800" >Equipement : </p>
                            <p style="text-align: left; color: white;" >Mesa-Boogie
                                Recto-verb 25   |  Bugera 333XL
                                Ampeg BA115  |  Tama
                                Superstar Hyperdrive</p>

                            <p style="text-align: left; color: white; font-weight: 800;" >Prestation : </p>
                            <p style="text-align: left; color: white; font-weight: 800;" >Répétition classique </p>
                            <p style="text-align: left; color: white; font-weight: 800;" >Répétition enregistrée </p>
                            <br>
                            <img src="assets/img/360degresimage3.png" class="img-rounded img-responsive" alt="Rounded Image">
                            <a [routerLink]="['/signup']" class="btn btn-outline-neutral btn-round btn-lg">Réserver</a>

                        </div>
                    </div>

                </div>

                <div class="row" style="margin-top: 20px">

                    <div class="col-lg-4 col-md-4 col-sm-12 ml-auto mr-auto">
                        <div class="card card-register" style="background-color: #0b1111;border: 3px solid white">
                            <h3 style="text-align: left; color: white; font-weight: 800; margin-top: 0px">MARILYN</h3>
                            <br>
                            <p style="text-align: left; color: white; font-weight: 800;" >Surface : <span style="color: #cc0001">27 m²</span></p>
                            <p style="text-align: left; color: white; font-weight: 800;" >Equipement : </p>
                            <p style="text-align: left; color: white;" >Victory V30  |  Orange Crush Pro 120  |  Orange OB1-300  |  DrumCraft série 8</p>

                            <p style="text-align: left; color: white; font-weight: 800;" >Prestation : </p>
                            <p style="text-align: left; color: white; font-weight: 800;" >Répétition classique </p>
                            <p style="text-align: left; color: white; font-weight: 800;" >Répétition enregistrée </p>
                            <br>
                            <img src="assets/img/360degresimage4.png" class="img-rounded img-responsive" alt="Rounded Image">
                            <a [routerLink]="['/signup']" class="btn btn-outline-neutral btn-round btn-lg">Réserver</a>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 ml-auto mr-auto">
                        <div class="card card-register" style="background-color: #0b1111;border: 3px solid #cc0001">
                            <h3 style="text-align: left; color: #cc0001; font-weight: 800; margin-top: 0px">LIZ</h3>
                            <br>
                            <p style="text-align: left; color: white; font-weight: 800;" >Surface : <span style="color: #cc0001">30 m²</span></p>
                            <p style="text-align: left; color: white;" >Equipement : </p>
                            <p style="text-align: left; color: white;" >Marshall DSL 100H   |  Bugera 333XL  |  Hartke HA 2500  |  Gretsch Catalina</p>

                            <p style="text-align: left; color: white; font-weight: 800;" >Prestation : </p>
                            <p style="text-align: left; color: white; font-weight: 800;" >Répétition classique </p>
                            <p style="text-align: left; color: white; font-weight: 800;" >Enregistrement studio </p>
                            <br>
                            <img src="assets/img/360degresimage5.png" class="img-rounded img-responsive" alt="Rounded Image">
                            <a [routerLink]="['/signup']" class="btn btn-outline-neutral btn-round btn-lg">Réserver</a>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--LE STUDIO-->

        <div class="section section-dark" id="studio" style="background-image: url('assets/img/img_potard3.png')" >
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">LE STUDIO</h2>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-12 ml-auto mr-auto">
                        <div class="card card-register" style="background-color: transparent;border: 3px solid #cc0001">
                            <h3 style="text-align: left; color: #cc0001; font-weight: 800; margin-top: 0px">REGIE</h3>
                            <br>
                            <img src="assets/img/360degresimage1.png" class="img-rounded img-responsive" alt="Rounded Image">
                            <br>
                            <p style="color: white">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Maecenas hendrerit eros
                                quis porta ullamcorper. Nullam gravida
                                posuere felis, a imperdiet felis elementum
                                eget. Duis sit amet maximus libero.</p>


                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 ml-auto mr-auto">
                        <div class="card card-register" style="background-color: transparent;border: 3px solid white">
                            <h3 style="text-align: left; color: white; font-weight: 800; margin-top: 0px">CABINE</h3>
                            <br>
                            <img src="assets/img/360degresimage2.png" class="img-rounded img-responsive" alt="Rounded Image">
                            <br>
                            <p style="color: white">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Maecenas hendrerit eros
                                quis porta ullamcorper. Nullam gravida
                                posuere felis, a imperdiet felis elementum
                                eget. Duis sit amet maximus libero.</p>


                        </div>
                    </div>

                </div>

            </div>
        </div>


        <!--PRICING-->

        <div class="section section-dark" id="prestations"  style="padding: 0px; background-image: url('assets/img/img_repet11.png')" >
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-left">
                        <h3 class="title">REPETITION <span style="color:#cc0001">CLASSIQUE</span></h3>
                        <h4 class="title"><span style="color:#cc0001; font-weight: 800">18€/heure</span></h4>
                    </div>
                    <div style="margin: 20px">
                        <p style="color: white; font-weight: 500">Les 5 salles de Noise Trap vous permettent de répéter dans les meilleures conditions possibles.
                            Le grand choix d’ampli guitare (Mesa-Boogie, Orange, Marshall, Victory, Bugera, EVH), basse (Ampeg, Hartke, Orange) et de batteries
                            (Gretsch, Drumcraft, Tama) vous satisferont à coup sûr !
                        </p><br><p  style="color: white; font-weight: 500">
                            Chaque salle est évidemment équipée de 3 micros chant, d’enceintes amplifiées et d’une console.
                            Nous disposons également d’un clavier et de pieds de batterie supplémentaires pour que vous puissiez ramener vos cymbales fétiches !</p>
                    </div>

                </div>

            </div>
        </div>

        <div class="section section-dark"  style="padding: 0px; background-image: url('assets/img/img_repet22.png')" >
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-left">
                        <h3 class="title">REPETITION <span style="color:#cc0001">ENREGISTREE</span></h3>
                        <h4 class="title"><span style="color:#cc0001; font-weight: 800">18€/heure</span></h4>
                    </div>
                    <div style="margin: 20px">
                        <p style="color: white; font-weight: 500">Disponible dans les salles Ginger et Marilyn. En effet, celles-ci sont équipées d’une console Behringer XR16
                            dotée d’une prise USB. Vous n’avez plus qu’à ramener une clé USB, la brancher et ça enregistre.
                            Prévoyez un peu de temps en début de répète pour faire des balances, le staff est là pour vous aider !
                            <span style="color:#cc0001; font-weight: 800">N’oubliez pas votre clé USB !</span></p>
                    </div>

                </div>

            </div>
        </div>

        <div class="section section-dark"  style="padding: 0px; background-image: url('assets/img/img_repet33.png')" >
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-left">
                        <h3 class="title">REPETITION <span style="color:#cc0001">MONTEE</span></h3>
                        <h4 class="title"><span style="color:#cc0001; font-weight: 800">18€/heure + frais d'ingénieur son</span></h4>
                    </div>
                    <div style="margin: 20px">
                        <p style="color: white; font-weight: 500">Disponible en salle Ginger. La salle (30 m²) est équipée de 4 retours, l’indispensable pour préparer vos
                            concerts en situation live.
                            Au besoin, notre ingénieur son peut vous accompagner. N’hésitez pas à nous demander des renseignements
                            complémentaires.</p>
                    </div>

                </div>

            </div>
        </div>

        <div class="section section-dark"  style="padding: 0px; background-image: url('assets/img/img_repet44.png')" >
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-left">
                        <h3 class="title">REPETITION <span style="color:#cc0001">STUDIO</span></h3>
                        <h4 class="title"><span style="color:#cc0001; font-weight: 800">Nous consulter</span></h4>
                    </div>
                    <div style="margin: 20px">
                        <p style="color: white; font-weight: 500">Noise Trap dispose d’une régie professionnelle couplée avec la salle Liz, séparée par un plexiglass. Vous pourrez y enregistrer maquette, EP, album, etc… par les soins de notre ingénieur son. N’hésitez pas à nous demander des renseignements complémentaires</p>
                    </div>

                </div>

            </div>
        </div>



        <!--LA FINE EQUIPE-->
        <div class="section section-dark text-center" id="team">
            <div class="container">
                <h2 class="title">LA FINE EQUIPE</h2>

                <div class="row">
                        <div class="card" style="padding: 20px;background-color: transparent;border: 3px solid white">
                            <p style="color: white">Ouvert en l’an de grâce 2017 dans un ancien entrepôt par
                                deux passionnés de musique,
                                <span style="color: #cc0001; font-weight: 800">Noise Trap</span> est un lieu de  répétition et d’enregistrement
                                destiné aux musiciens de tous niveaux.</p>


                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Julien</h4>
                                        <h6 class="card-category">Studio enregistrement</h6>
                                    </div>
                                </a>
                               <!-- <p class="card-description text-center">
                                    Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                                </p>-->
                            </div>
                            <div class="card-footer text-center">
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Guillaume</h4>
                                        <h6 class="card-category">Studio répétition</h6>
                                    </div>
                                </a>
                               <!-- <p class="card-description text-center">
                                    A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                                </p>-->
                            </div>
                            <div class="card-footer text-center">
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Stéphane</h4>
                                        <h6 class="card-category">Studio répétition</h6>
                                    </div>
                                </a>
                            <!--    <p class="card-description text-center">
                                    The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                                </p>-->
                            </div>
                            <div class="card-footer text-center">
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Stéphane</h4>
                                        <h6 class="card-category">Studio répétition</h6>
                                    </div>
                                </a>
                                <!--    <p class="card-description text-center">
                                        The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                                    </p>-->
                            </div>
                            <div class="card-footer text-center">
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!--LOCATION-->
        <div class="section section-dark" id="location">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-12 ml-auto mr-auto">
                        <div class="card" style="padding: 40px; background-color: transparent;border: 3px solid #cc0001">
                            <h3 style="text-align: center; color: white; font-weight: 600; margin-top: 0px">CONTACT</h3>
                            <h4 style="text-align: center; color: #cc0001; font-weight: 500; margin-top: 0px">09 67 59 00 89</h4>
                            <br>
                            <h3 style="text-align: center; color: white; font-weight: 600; margin-top: 0px">ACCES</h3>
                            <h4 style="text-align: center; color: #cc0001; font-weight: 500; margin-top: 0px">09 67 59 00 89</h4>
                            <br>

                            <img src="assets/img/ico_car.png" class="center">
                            <br>
                            <p style="text-align: center; color: white; font-weight: 400; margin-top: 0px">Périphérique nord, sortie croix Luizet à 900m</p>

                            <br>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 ml-auto mr-auto">
                                    <img src="assets/img/ico_bus.png" class="center">
                                    <br>
                                    <p style="text-align: center; color: white; font-weight: 400; margin-top: 0px">Bus 37, 69, C17 arrêt Place Croix Luizet</p>

                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ml-auto mr-auto">
                                    <img src="assets/img/ico_tram.png" class="center">
                                    <br>
                                    <p style="text-align: center; color: white; font-weight: 400; margin-top: 0px">T1 INSA-Einstein à 500m</p>

                                </div>
                        </div>
                    </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 ml-auto mr-auto center-map" >
                        <div  class="responsive-map-container"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=noisetrap%20&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>Google Maps Generator by <a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
                    </div>


                </div>

            </div>
        </div>


        <div class="section landing-section section-dark contactez" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <h2 class="text-center">Nous contacter</h2>
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                    <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Nom" (focus)="focus=true" (blur)="focus=false" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Email</label>
                                    <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                    </div>
                                </div>
                            </div>
                            <label>Message</label>
                            <textarea class="form-control" rows="4" placeholder="Dites nous tout..."></textarea>
                            <div class="row">
                                <div class="col-md-4 mr-auto ml-auto">
                                    <button class="btn btn-outline-neutral btn-round">Envoyer</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
