.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 50px;
  max-height: 50px;
}

.card-register{
  margin-left: 17px;
}

.center-map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 500px;
  max-height: 500px;
}

.contactez{
  color: white;
}


.responsive-map-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.responsive-map-container iframe,
.responsive-map-container object,
.responsive-map-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}